/* 공통 스타일 */
/* header, footer */
body {}
#wrap {}
#wrap header {
    background-color: rgba(0,0,0,0.9);
    height:70px; padding:0 80px;
    min-width:1220px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: row nowrap; /* 랩이랑 디렉션이랑 합친거 메인축 변경 및 줄바꿈 */
    /* 스크롤 이동 시 고정 */
    position: fixed; left:0; top:0;z-index: 999;width:100%;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
/* =============================================== header */
#wrap header nav {}
#wrap header nav #gnb {
    color: aqua; display: flex;
    flex-flow:row nowrap; gap:20px;
}
#wrap header nav #gnb a:hover {color: rgb(108, 255, 3);!important} /* 공통 a */
#wrap header nav #gnb > li {position: relative;} /* 첫번째 서브 기준 */
#wrap header nav #gnb > li:hover .depth2 {display: block;}
#wrap header nav #gnb > li > a {
    color:#fff;
    /* background-color: aquamarine; */
    line-height:70px;
    display: block;
}
#wrap header nav #gnb > li > .depth2 { /* 첫번째 서브 */
    background-color: rgb(2, 181, 38);
    position: absolute;
    width:160px;
    left:50%; transform:translateX(-50%); /* 앱솔루트 부모 x 축 정중앙 */
    display:none;
}
/* =============================================== E. depth 2 */
#wrap header nav #gnb > li > .depth2 > li {}
#wrap header nav #gnb > li > .depth2 > li > a {
    color: #fff;
    display: block;
    line-height:46px;
    text-align: center;
}
#wrap header nav #gnb > li > .depth2 > li:hover .depth3 {display: block;}
#wrap header nav #gnb > li > .depth2 > li > .depth3 {
    background-color: rgba(1, 71, 88, 0.379);
    text-align: center;
    display:none;
}
#wrap header nav #gnb > li > .depth2 > li > .depth3 li {line-height:46px;border-bottom:1px solid #c0edee;}
#wrap header nav #gnb > li > .depth2 > li > .depth3 li a {color: #fff}
/* =============================================== footer */
#wrap footer {}
#wrap footer p {}

/* =============================================== main w1220+p70 */
#wrap main .container_layout {
    width:1220px; margin:0 auto; padding:70px 0;
}
#wrap main .container_layout h1 {
    font-size:1.5rem; font-weight:600; margin:0 0 30px;
}
#wrap main .container_layout h1+p {
    line-height:1.7; font-size:0.94rem; color:#555; margin:0 0 30px;
}
