/* index.css */
#wrap main {}
#wrap main #hero_bnr {
    height:830px; min-width:1220px;
    background-image:url(../img/hero_bnr01.png);
    background-size:cover;
    background-position:center;
    padding-top:425px;
}
#wrap main #hero_bnr .ad_txt {text-align:center;}
#wrap main #hero_bnr .ad_txt p {font-size:1.88rem; font-weight:600;}
#wrap main #hero_bnr .ad_txt h1 {font-size:3.13rem; font-weight:700;}
#wrap main #hero_bnr .ad_txt p,
#wrap main #hero_bnr .ad_txt h1 {
    /* text-shadow:x y 흐림 색상; */
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
    color:#fff; line-height:1.5;
    font-family:'noto sans kr', sans-serif;
}
#wrap main #hero_bnr #reservation_form {
    width:1051px;
    margin:0 auto;
    padding:20px;
    border-radius:12px;
    background-color:rgba(255,255,255,0.8);
    display:flex;/* 객실~체크인아웃~인원~검색 자식들 정렬 flex */
    flex-flow:row nowrap;/* 메인축(수평) */
    justify-content: space-between;/* 메인축(수평) 양쪽끝 배치 */
    align-items: center;/* 교차축(수직) 가운데 */
}
/* ---------------------------------------------객실~인원 공통디자인 */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr #reservation_form .check_in_out .in h2,
#wrap main #hero_bnr #reservation_form .check_in_out .out h2,
#wrap main #hero_bnr #reservation_form .person h2 {
    margin-bottom:8px;
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {
    background-color:lime;
}
/* ---------------------------------------------객실선택 */
#wrap main #hero_bnr #reservation_form .room {}
#wrap main #hero_bnr #reservation_form .room h2 {
    
}
#wrap main #hero_bnr #reservation_form .room .room_type:hover .room_open {display:block;}
#wrap main #hero_bnr #reservation_form .room .room_type {
    position:relative; /* room_open 기준 */
}
#wrap main #hero_bnr #reservation_form .room .room_type > a,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open a {
    /* 포사이드방 */
    width:170px; 
    height:52px;
    display:flex;/* flex설정 시 형제끼리 크기 맞추는 자동설정때문에 이미지 비율이 망가져 보일 수 있음(메인, 교차축 설정 적용하면 해결됨) */
    align-items:center; justify-content: space-between;
    padding:0 10px; border-radius:6px; border:1px solid #ddd;
    background:#fff;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open .name {
    font-size:0.88rem;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name span,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open .name span {
    font-size:0.75rem; color:#888;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a img {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open {
    position:absolute; left:0; top:52px;
    /* absolute 설정 시 기존태그 크기가 inline-block 처럼 바뀜 */
    display:none;/* 초기 숨기기 */
}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a .name {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a .name span {}
/* ---------------------------------------------체크인/아웃날짜 */
#wrap main #hero_bnr #reservation_form .check_in_out {
    display:flex;
    /* 필수! 메인축방향 줄바꿈처리 flex-flow */
    flex-flow:row nowrap; gap:15px;
}
/* --------------------------------------------체크인&아웃 공통 */
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a,
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a {
    width:170px; height:52px; background:#fff;
    border:1px solid #ddd; border-radius:6px; padding:0 10px;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between; align-items: center;
}
/* --------------------------------------------체크인 */
#wrap main #hero_bnr #reservation_form .check_in_out .in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day {
    display:flex; flex-flow:column nowrap;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day em {margin:10px 0 0;}
#wrap main #hero_bnr #reservation_form .check_in_out .out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a img {}
/* ---------------------------------------------인원 */
#wrap main #hero_bnr #reservation_form .person {}
#wrap main #hero_bnr #reservation_form .person h2 {}
#wrap main #hero_bnr #reservation_form .person .number {
    display:flex; flex-flow:row nowrap; gap:10px;
}
/* ===================================================인원 공통 */
#wrap main #hero_bnr #reservation_form .person .number li {
    width:160px; height:52px; background:#fff;
    border-radius:6px; border:1px solid #ddd;
    display:flex;
    flex-flow:row nowrap; justify-content: space-between;
    align-items: center; padding:0 5px;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn {
    width:24px; height:24px;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn img {}
#wrap main #hero_bnr #reservation_form .person .number li span {}
#wrap main #hero_bnr #reservation_form .person .number li span label {}
#wrap main #hero_bnr #reservation_form .person .number li span input {
    width:30px; text-align:center;
}
/* ===================================================인원 개별(성인/어린이) */
#wrap main #hero_bnr #reservation_form .person .number li #adult_add {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove {}
#wrap main #hero_bnr #reservation_form .person .number li span #adult {}
#wrap main #hero_bnr #reservation_form .person .number li span #kid {}
#wrap main #hero_bnr #reservation_form .person .number li #kid_add {}
#wrap main #hero_bnr #reservation_form .person .number li #kid_remove {}
/* =======================================검색버튼 */
#wrap main #hero_bnr #reservation_form > p {
    position:relative; top:12px;
}
#wrap main #hero_bnr #reservation_form > p #search_btn {
    background-color:#27536B; color:#fff;
    width:78px; height:52px; border-radius:6px;
    font-size:0.88rem;
}

/* =============================== 2. 양림동 호랑가시나무 소개 */
#wrap main #intro_guest_bg {
    padding:70px 0;
    background-color:#f5f5f5;
}
#wrap main #intro_guest_bg #intro_guest {}
#wrap main #intro_guest_bg #intro_guest h1 {}
#wrap main #intro_guest_bg #intro_guest p {}
#wrap main #intro_guest_bg #intro_guest h1+p {}
#wrap main #intro_guest_bg #intro_guest p:last-child {}
#wrap main #intro_guest_bg #intro_guest p:last-child img {width:100%;}

/* ============================== 3. 관광지 소개 */


#wrap main #intro_tourist {
}
#wrap main #intro_tourist h1 {}
#wrap main #intro_tourist p {}
#wrap main #intro_tourist .contents {
    display: flex; flex-flow:row nowrap;
    justify-content:space-between;
    margin:0 0 50px;
}
#wrap main #intro_tourist .contents li {
    width:calc((100% - 60px) / 4);
}

#wrap main #intro_tourist .contents li a {
    margin:0 0 10px; display: block;
    overflow:hidden;
    height:250px;
}

#wrap main #intro_tourist .contents li a img {width:100%;}
#wrap main #intro_tourist .contents li a img {width:120%;}
#wrap main #intro_tourist .contents li h2 {
    font-weight:600; font: size 1.13rem;
}
#wrap main #intro_tourist .more {
    font-size:0.94rem;
    margin:0 auto;
    display:block; width:max-content;
    border-bottom:1px solid #000;
}

/* ================================== 4. 객실 및 예약 안내 */

#wrap main #room_info {background-color:#f5f5f5;
    width:100%;
}
#wrap main #room_info h1 {
    width:1220px;
    font-size:1.5rem;
    font-weight:600;
    margin: 0 auto;
}
#wrap main #room_info > p {
    width:1220px;
    margin: 0 auto;
    padding: 30px 0;
}
#wrap main #room_info .contents {
    display: flex; flex-flow:row nowrap;
    justify-content:space-between;
    justify-content: center;
    align-items: center;
    margin:0 50px;
}

#wrap main #room_info .contents li {
    width:calc((100% - 60px) / 4);
    margin:auto 10px;
}
#wrap main #room_info .contents li img {width:100%;}
#wrap main #room_info .contents li h2 {font-weight:600; font: size 1.13rem;
    margin:10px 0;
}
#wrap main #room_info .contents li p {
    font-size: 0.88rem;
    line-height: 1.7;
}
#wrap main #room_info a {
    font-size:0.94rem;
    margin:0 auto;
    margin-top:50px;
    display:block; width:max-content;
    border-bottom:1px solid #000;
}

/* ==================== 객실 개별 선택자 */

#wrap main #room_info .contents .contents1  {
    width:500px;
}
#wrap main #room_info .contents .contents1 img {}
#wrap main #room_info .contents .contents1 h2 {}
#wrap main #room_info .contents .contents1 p {}
/* ================= */
#wrap main #room_info .contents .contents2,
#wrap main #room_info .contents .contents3,
#wrap main #room_info .contents .contents4 {width:220px;
    
}

#wrap main #room_info .contents .contents2  {
}
#wrap main #room_info .contents .contents2 img {}
#wrap main #room_info .contents .contents2 h2 {}
#wrap main #room_info .contents .contents2 p {}
/* ================= */
#wrap main #room_info .contents .contents3  {}
#wrap main #room_info .contents .contents3 img {}
#wrap main #room_info .contents .contents3 h2 {}
#wrap main #room_info .contents .contents3 p {}
/* ================= */
#wrap main #room_info .contents .contents4  {}
#wrap main #room_info .contents .contents4 img {}
#wrap main #room_info .contents .contents4 h2 {}
#wrap main #room_info .contents .contents4 p {}
/* ================= */

#wrap main #map {}
#wrap main #map h1 {}
#wrap main #map img {
    padding-bottom: 30px;
}
#wrap main #map .contents {}
#wrap main #map .contents dt {font-size:1.5rem; font-weight:600; margin:0 0 30px;}
#wrap main #map .contents dd {
    line-height:1.8;
    font-size: 0.94rem;
}

/* =========================== 푸터 */

#wrap footer {
    background-color: #000;
    display: flex;
    justify-content: center; align-items: center;
    margin: 0 auto;
    padding: 70px 0;
}
#wrap footer address {
    /* justify-content: center; align-items: center; */
    color: #fff;
    line-height:200%;
    text-align:left;
    font-size:0.81rem;
}